ul {padding: 0; list-style: none;}
.fullBox {height: 100%; width: 100%;}

#global-container {
    background: lightgray;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.bx-panel {
	position: absolute;
	border: 2px inset steelblue;
}

#midPanelContainer {
	background: lightblue;
}

.game-object {
    position: absolute;
    overflow: hidden;
}

#bottomPanelContainer {
	background: lightblue;
	bottom: 0;
	left: 0;
}

#bottomPanelContainer .fa {
    position: absolute;
    right: 5px;
    font-size: 25px;
}

#runcode {    
    top: 5px;    
    color: red;
}

#shareCode {
    top: 32px;
    color: #c49eff;
}

#codeEditor {
    display: block;
    background: #000;
    color: #FFF;
    height: 100%;
    width: 100%;
    padding: 3px 5px;
    resize: none;
    font-family: monospace;
}


#rightPanelContainer {
	background: #d0c9c9;
	height: 100%;
	top: 0;
	right: 0;
}

.side-sub-panel {
    height: 50%;
    overflow: auto;
    background: #FFF;
}

#createNewObject,
#refreshPropertiesPanel {
    right: 10px;
    top: 2px;
}

.side-sub-panel .title {
    display: block;
    background: #5e5b8c;
    color: #fff;
    padding: 2px 7px;
    font-weight: bold;
    margin-bottom: 0px;
    position: relative;
}

.side-sub-panel li {
    position: relative;
    padding: 5px 10px;
    border-bottom: 1px solid blue; 
}

#objectsPanel,
#propertiesPanel {
    position: relative;
}

#objectsPanel .fa,
#propertiesPanel .fa{
    position: absolute;
    font-size: 20px;    
    color: #c5c3b3;
}

#objectsPanel .select-obj {
    right: 15px;
}

#objectsPanel .clone-object {
    right: 40px;
}

#objectsPanel .delete-obj {
    right: 68px;
}

#propertiesTable {
    width: 100%;
}

#propertiesTable tr td{
    border: 1px solid blue;
}

#propertiesTable tr td:first-child {
    padding: 0 5px;
    
}

#propertiesTable tr td input {
    width: 100%;
    border: none;
    padding: 0 5px;
}