.S9-Game-Object {
    position: absolute;
}

#gameContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*height: 100%;
    width: 100%;*/
    background: skyblue;
    background: linear-gradient(skyblue, skyblue, white, white);
    overflow: hidden;
}